.cadastro {
    /* background-color: red; */
    padding: 100px 30px 30px 80px;
}


.inputCadastro {
    width: 100%;
    padding: 12px;
    /*   display: inline-block; */
    margin: 10px 0;

    border: 0px;
    border-radius: 4px;
    font-size: large;
    /* text-decoration: white; */

}

.inputCadastro:hover {
    border: 0px;
    background-color: rgb(223, 223, 223);
}

.senhaCadastro {
    width: 43%;
    padding: 12px;
    /*   display: inline-block; */
    margin: 10px 0;
    border: 0px;
    border-radius: 4px;
    font-size: large;
    /* text-decoration: white; */

}

.senhaCadastro:hover {
    border: 0px;
    background-color: rgb(223, 223, 223);
}



.senhaDiv {
    width: 100%;
    /*  background-color: brown;  */
}