.img {
    background-image: url("../img/logo.ico"),url("../img/fundo.jpg");
    background-position: 80%;
  
    background-repeat: no-repeat;
    height: 1024px;
    width: 100%;
    /* background-color:#4C4A62; */
    background-color: rgba(76,74,98,0.7);
    color: aliceblue;
    font-family: Arial, Helvetica, sans-serif;
        
 }
 .lateral{
    background-color: rgba(76,74,98,0.2);
    height: 1024px;
    width: 30%;
    
 }
 .login{
    /* background-color: red; */
    padding:250px 30px 30px 80px;
    

 }
 .nomelogo{
    text-transform:uppercase;
    font-weight: bold;
    font-size:25px;
    
 }
 .campoform{
    /* background-color: green; */
    background-position: center;
    width:90%;
 }
 input[type=text],[type=password] {
    width: 90%;
    padding: 12px 15px;
    margin: 4px 0;
    display: inline-block;
    border: 0px;
    border-radius: 4px;
    font-size: large;
    text-decoration: white;
    background-color: transparent;
         
  }
  input[type=text]:active{
    border: 0px;
  }
  ::placeholder {
    color: white;
  }
  input[type=submit] {
    width: 100%;
    background-color: #CFD8DC;
    color: #4C4A62;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-transform:uppercase;
  }
  
  input[type=submit]:hover {
    background-color: #CFD8DC;
  }