

.titulo {
    
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    
    font-weight: bold;
}
.paragrafo{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 20px;
}

.menu {
    background-color: #4C4A62;
    width: 100%;
    padding: 10px 0;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-transform: uppercase;
}

.botao {
    color: #4C4A62;
    background-color: white;
    border-radius: 2px;
    height: 30px;
    width: 10%;
    position: relative;
    left: 55%;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-transform: uppercase;
}

.itens-menu {
    
    margin-left: 5px;
}

.itens-menu-grupo {
      
    position: relative;
    color: white;
}


